/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */


.home .hero img
  max-width 450px!important


.book-card
 display flex 
 align-items center 
 margin: 1em 0
 img
  margin-right 2em
  width 100px
 h4 
  margin 0
 p
  margin 0

.book-content
 display flex
 flex-direction column
 justify-content space-between